#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul, menu, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 1% 0;
}

button {
  align-content: center;
  color: #EEE;
  background-color: #333;
  width: 15vw;
  height: 3.5vh;
}

input {
  width: 20vw;
  height: 3vh;
}

#playerList {
  background-color: #545652;
  padding: 1%;
}

#chat {
  background-color: #545652;
  max-height: 15vh;
  overflow: scroll;
  padding: 1%;
}

#ready {
  width: auto;
  height: 3vh;
}